.profileContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.avatarSection,
.bioSection,
.portfolioSection,
.postsSection {
  width: 30vw;
  margin-bottom: 20px;
}

.feedContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.sidebarLeft,
.sidebarRight {
  flex: 1;
}

.feedContent {
}

.inputField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
}
